<!-- /. NAV TOP  -->
<nav class="navbar-default navbar-side" role="navigation">
    <div class="sidebar-collapse">
        <ul class="nav" id="main-menu">
            <li>
                <a href="#"><i class="fa fa-dashboard fa-2x"></i> Categoria<span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li>
                        <a href="/Categoria/Cadastrar">Cadastrar</a>
                    </li>
                    <li>
                        <a href="/Categoria/Consultar">Consultar</a>
                    </li>

                </ul>
            </li>

            <li>
                <a href="#"><i class="fa fa-desktop fa-2x"></i> Empresa<span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li>
                        <a href="/Empresa/Cadastrar">Cadastrar</a>
                    </li>
                    <li>
                        <a href="/Empresa/Consultar">Consultar</a>
                    </li>

                </ul>
            </li>

            <li>
                <a href="#"><i class="fa fa-bar-chart-o fa-2x"></i> Movimento<span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li>
                        <a href="/Movimento/RealizarMovimento">Cadastrar</a>
                    </li>
                    <li>
                        <a href="/Movimento/ConsultarMovimento">Consultar</a>
                    </li>

                </ul>
            </li>
            
            <li>
                <a href=""><i class="fa fa-table fa-2x"></i> Sair</a>
            </li>

        </ul>

    </div>

</nav>
<!-- /. NAV SIDE  -->